<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class = "potrait" src = "/img/sample.png" height="200px" width="200px">
    </div>
    {{>footer}}
</body>


</html>